#map-container-parent {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

}

#map-container {
  width: 80%;
  flex-grow: 1;
}

#spot-list-container {
  min-width: 350px;
  width: 20%;
  flex-grow: 1;
}

map-searchbar {
  position: fixed;
  width: 100% !important;
  top: 64px;
  z-index: 900;
}

@media (max-width: 599px) {
  map-searchbar {
    top: 56px;
  }
}
