<map-searchbar #searchbarRef (spotFilterValue)="onFilterValueChanged($event)"
               (placeFound)="onPlaceFound($event)"></map-searchbar>
<div #mapContainerRef id="map-container-parent" [style]="'margin-top: '+searchBarOffset+'px'">
  <div id="map-container">
    <google-map [options]="mapOptions" [zoom]="DEFAULT_ZOOM" [center]="getCenter()" height="77vh" width="100%">
      <map-marker *ngFor="let spot of spotsToMark | async"
                  [icon]="surfspotMarkerIcon"
                  [position]="spot.coords"
                  (mapClick)="handleMarkerClicked(spot)"></map-marker>
      <map-marker [icon]="userSelectedLocationMarkerIcon"
                  [position]="userSelectedLocation | async"></map-marker>
    </google-map>
  </div>
  <div #spotListRef id="spot-list-container">
    <app-surfspot-list [surfspots]="spotsToMark" [selectedSurfspot]="selectedSurfspot"
                       [parentUsesBottomSheetFunction]="shouldUseBottomSheet()"></app-surfspot-list>
  </div>
</div>
