<div class="component-parent">
  <h1>{{'i18n.contact.heading' | translate}}</h1>
  <h4>{{'i18n.contact.into' | translate}}</h4>
  <p>
    {{'i18n.contact.address.l1' | translate}}<br/>
    {{'i18n.contact.address.l2' | translate}}<br/>
    {{'i18n.contact.address.l3' | translate}}<br/>
    {{'i18n.contact.address.l4' | translate}}<br/>
  </p>
  <a href='mailto:info@bungeemonkey.ch'>{{'i18n.contact.email' | translate}}</a>
  <h2>{{'i18n.contact.sources.heading' | translate}}</h2>
  <h3>{{'i18n.contact.sources.subheading.spots' | translate}}</h3>
  <p>
    <span>{{'i18n.contact.sources.spots.p1' | translate}}</span>
    <a routerLink="recommend">{{'i18n.contact.sources.spots.p2' | translate}}</a>
    <span>{{'i18n.contact.sources.spots.p3' | translate}}</span><br/>
    <span>{{'i18n.contact.sources.review' | translate}}</span>
  </p>
  <h3>{{'i18n.contact.sources.subheading.flow' | translate}}</h3>
  <p>
    {{'i18n.contact.sources.flow.l1' | translate}}<br/>
    {{'i18n.contact.sources.flow.l2' | translate}}
  </p>
</div>
