.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar-row {
  justify-items: center;
  justify-content: center;
}
.sticky-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}
mat-toolbar img {
  max-height: 40px !important;
  margin-left: 20px;

}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: black !important;
}

#bm-logo-minimal {
  display: none;
}

svg path {
  shape-rendering: crispEdges;
}

#lang-select-form {
  padding-right: 36px;
}

#shop-button {
  margin-right: 36px;
}

@media only screen and (max-width: 500px) {

  #lang-select-form {
    padding-right: 6px;
  }

  #shop-button {
    margin-right: 6px;
  }

  #bm-logo-minimal {
    display: block;
    margin: 0 auto;
  }

  mat-toolbar img {
    max-height: 52px !important;
    margin-left: unset;
  }

  #bm-logo-text {
    display: none;
  }
  #header-button-icon {
    display: none;
  }

}
