.spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  justify-items: center;
  justify-content: center;
}

.sticky-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.mat-mdc-button > .mat-icon {
  height: 24px !important;
  width: 24px !important;
  font-size: 24px !important;
}

mat-toolbar img {
  max-height: 40px !important;
  margin-left: 20px;
}

.mat-drawer {
  background-color: var(--bm-theme-primary) !important;
  color: var(--bm-theme-primary-text) !important;
  font-family: var(--subheading-1-font-family) !important;
}

.mat-expansion-panel {
  background-color: var(--bm-theme-primary);
  color: var(--bm-theme-primary-text);
}

:host ::ng-deep .mdc-list-item__primary-text {
  color: var(--bm-theme-primary-text) !important;
}

.mat-sidenav-container {
  min-height: 100vh;
}

.mat-drawer-opened {
  min-width: 20vw;
}

:host ::ng-deep .mdc-text-field-label {
  background-color: var(--bm-theme-primary) !important;
}

:host ::ng-deep .mdc-text-field {
  background-color: var(--bm-theme-primary-text) !important;
}

:host ::ng-deep .mdc-text-field-ripple {
  background-color: var(--bm-theme-primary-text) !important;
}

#bm-logo-minimal {
  display: none;
}

svg path {
  shape-rendering: crispEdges;
}

mat-sidenav-content {
  margin-top: 64px;
}

@media only screen and (max-width: 500px) {
  mat-sidenav-content {
    margin-top: 56px;
  }
}

@media only screen and (max-width: 500px) {
  #bm-logo-minimal {
    display: block;
    margin: 0 auto;
  }

  mat-toolbar img {
    margin-left: unset;
  }

  #bm-logo-text {
    display: none;
  }
  #header-button-icon {
    display: none;
  }

  @media only screen and (max-width: 680px) {
    .mat-drawer-opened {
      min-width: 50vw;
    }
  ;
  }
  @media only screen and (max-width: 680px) {
    .mat-drawer-opened {
      min-width: 100vw;
    }
  ;
  }
}
