<div>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="sticky-toolbar">
        <img id="bm-logo-text" src="/assets/icons/bm-logo-text-white.svg" alt="Bungeemonkey Brand Logo with text">
        <img id="bm-logo-minimal" src="/assets/icons/bm-logo-minimal-white.svg" alt="Bungeemonkey Brand Logo">
        <span class="example-spacer"></span>
        <h2>Spotfinder</h2>
        <span class="example-spacer"></span>
        <a mat-button color="light" (click)="sidenav.toggle()">
          <mat-icon color="light">menu</mat-icon>
        </a>
      </mat-toolbar>
      <div class="content" role="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav position="end" mode="over" fixedInViewport="true" >
      <app-sidenav></app-sidenav>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
