$sidenav-bg-color: black;
$sidenav-text-color: white;
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar-row {
  justify-items: center;
  justify-content: center;
}
.sticky-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}
mat-toolbar img {
  max-height: 40px !important;
  margin-left: 20px;
}

.mat-drawer {
  background-color: $sidenav-bg-color !important;
  color: $sidenav-text-color !important;
  font-family: var(--subheading-1-font-family) !important;
}

.mat-expansion-panel {
  background-color: $sidenav-bg-color;
  color: $sidenav-text-color;
}

:host ::ng-deep .mdc-list-item__primary-text {
  color: $sidenav-text-color !important;
}

.mat-sidenav-container {
  min-height: 100vh;
}

.mat-drawer-opened {
  min-width: 20vw;
}

:host ::ng-deep .mdc-text-field-label {
  background-color: $sidenav-bg-color !important;
}

:host ::ng-deep .mdc-text-field {
  background-color: $sidenav-text-color !important;
}
:host ::ng-deep .mdc-text-field-ripple {
  background-color: $sidenav-text-color !important;
}

#bm-logo-minimal {
  display: none;
}

svg path {
  shape-rendering: crispEdges;
}

mat-sidenav-content {
  margin-top: 64px;
}

@media only screen and (max-width: 500px) {
  mat-sidenav-content {
    margin-top: 56px;
  }
}

@media only screen and (max-width: 500px) {

  #lang-select-form {
    padding-right: 6px;
  }

  #shop-button {
    margin-right: 6px;
  }

  #bm-logo-minimal {
    display: block;
    margin: 0 auto;
  }

  mat-toolbar img {
    max-height: 52px !important;
    margin-left: unset;
  }

  #bm-logo-text {
    display: none;
  }
  #header-button-icon {
    display: none;
  }

  @media only screen and (max-width: 680px) {
    .mat-drawer-opened {
      min-width: 50vw;
    };
  }
  @media only screen and (max-width: 680px) {
    .mat-drawer-opened {
      min-width: 100vw;
    };
  }
}
