<div class="component-parent">
  <h1>Recommend your favourite spot</h1>
  <p>Thank you for sharing your surfspot recommendation with us</p>
  <div id="spot-form-container">
    <div class="input-group">
      <div class="input-container">
        <div class="label-container">
<!--          <mat-label>{{'i18n.spot-search.places-placeholder' | translate}}</mat-label>-->
        </div>
<!--        <mat-form-field id="locationSearchField">-->
<!--          <input-->
<!--            ngx-google-places-autocomplete-->
<!--            [options]="npxPlaceSearchAutocompleteOptions"-->
<!--            #placesRef="ngx-places"-->
<!--            (onAddressChange)="onPlaceFoundBasedOnSearch($event)"-->
<!--            aria-label="Place search"-->
<!--            matInput-->
<!--            [placeholder]="'i18n.spot-search.places-placeholder' | translate"-->
<!--            type="text"/>-->
<!--        </mat-form-field>-->
      </div>
    </div>
  </div>
</div>
