
.row-form-container {
  display: flex;
  flex-grow: 1;
  max-width: 60vw;
}
mat-toolbar-row form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}
mat-toolbar-row mat-form-field {
  margin-top: 15px;
}
h1.intro-heading {
  margin-bottom: 0;
}
.label-container {;
  flex-shrink: 1;
}
#filter-container {
  display: flex;
  gap: 15px;
}

#title-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 360px;
}
.input-group {
  gap: 15px;
  min-width: 300px;
  flex-grow: 1;
  max-width: 375px;
}

.input-group.colapsed {
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: unset;
}


#expanded-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
mat-toolbar-row {
  justify-content: center;
}
#locationSearchField {
  width: 100%;
}
#filter-form {
  display: flex;
}
.input-container.colapsed {
  flex-grow: 1;
  float: left;
  max-width: 400px;
}

mat-card {
  padding-bottom: 0;
}

#locationSearchField .mat-form-field-infix {
  min-width: 80px;
  width: initial;
}

@media only screen and (max-width: 700px) {
  .row-form-container {
    max-width: 95vw;
  }
  mat-toolbar-row mat-form-field {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .row-form-container {
    max-width: 98vw;
  }
  .colapsed mat-form-field.filter-select {
    flex-grow: 1;
    width: 80px;
    flex-shrink: 1;
  }
  mat-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  mat-toolbar-row mat-form-field {
    margin-top: 15px;
  }
}
