$sidenav-bg-color: black;
$sidenav-text-color: white;
.mat-drawer-container {
  min-height: 100vh;
}
.mdc-list-item__primary-text {
  color: $sidenav-text-color !important;
}

.mat-expansion-panel {
    background-color: $sidenav-bg-color;
    color: $sidenav-text-color;
}

.mat-expansion-panel-header {
  height: 48px !important;
  padding: 0 16px;
}

.mat-mdc-list-item-unscoped-content  {
  color: $sidenav-text-color !important;
}

.spacer {
  flex: 1 1 auto;
}
