.mat-drawer-container {
  min-height: 100vh;
}
.mdc-list-item__primary-text {
  color: white !important;
}

.mat-expansion-panel {
    background-color: black;
    color: white;
}
.background-primary {
  background-color: black;
  color: white;
}
.mat-expansion-panel-header {
  height: 48px !important;
  padding: 0 16px;
}

.mat-mdc-list-item-unscoped-content  {
  color: white !important;
}
