.mat-drawer-container {
  min-height: 100vh;
}

.mdc-list-item__primary-text {
  color: var(--bm-theme-primary-text) !important;
}

.mat-expansion-panel {
  background-color: var(--bm-theme-primary);
  color: var(--bm-theme-primary-text);
}

.mat-expansion-panel-header {
  height: 48px !important;
  padding: 0 16px;
}

.mat-mdc-list-item-unscoped-content {
  color: var(--bm-theme-primary-text) !important;
}

.spacer {
  flex: 1 1 auto;
}
