<mat-toolbar color="primary">Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="map">{{'i18n.navigation.map' | translate}}</a>
  <a mat-list-item routerLink="recommend">{{'i18n.navigation.newSpot' | translate}}</a>
  <a mat-list-item routerLink="contact">{{'i18n.navigation.contact' | translate}}</a>
</mat-nav-list>
<mat-expansion-panel expanded="true" hideToggle="true">
  <mat-expansion-panel-header>
    {{'i18n.misc.language' | translate}}
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item *ngFor="let language of translate.getLangs()" (click)="translate.use(language)">{{language.split('-')[0] | uppercase}}</a>
  </mat-nav-list>
</mat-expansion-panel>
<a id="shop-button" mat-raised-button color="white" aria-label="Bungeemokey Web Link"
   href="https://bungeemonkey.ch/">
  <span id="header-button-text">{{'i18n.navigation.shop' | translate}}</span>
  <mat-icon id="header-button-icon">arrow_right_alt</mat-icon>
</a>
