<mat-toolbar color="primary">Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="map">{{'i18n.navigation.map' | translate | uppercase}}</a>
  <a mat-list-item routerLink="recommend">{{'i18n.navigation.newSpot' | translate | uppercase}}</a>
  <a mat-list-item routerLink="contact">{{'i18n.navigation.contact' | translate | uppercase}}</a>
  <a mat-list-item href="https://www.bungeemonkey.ch">{{'i18n.navigation.shop' | translate | uppercase}}</a>
</mat-nav-list>
<mat-expansion-panel (opened)="true" expanded="true" hideToggle="true">
  <mat-expansion-panel-header>
    {{'i18n.misc.language' | translate | uppercase}}
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item *ngFor="let language of translate.getLangs()"
       (click)="translate.use(language)">{{language.split('-')[0] | uppercase}}</a>
  </mat-nav-list>
</mat-expansion-panel>
