/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'BrandonText-Black';
  src: url("assets/fonts/BrandonTextWebBlack.woff2");
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: url("assets/fonts/BrandonTextWebBold.woff2");
}

@font-face {
  font-family: 'Brandon Text';
  src: url("assets/fonts/BrandonTextWebRegular.woff2");
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background-color: var(--bm-theme-primary-backdrop);
}

.mat-button-base, h1, h2, h3 {
  text-transform: uppercase !important;
}


.mat-bottom-sheet-container {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

@media (max-width: 450px) {
  .colapsed .mat-form-field-infix {
    min-width: 80px !important;
    width: 80px;
  }
}

@media (max-width: 650px) {
  .colapsed .mat-form-field-infix {
    max-width: 120px;
  }
}

@media only screen and (max-width: 500px) {

  .mat-mdc-option {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .mat-mdc-option .mdc-list-item__primary-text {
    overflow: hidden !important;
    text-overflow: unset !important;
  }

  .mdc-text-field {
    padding: 0 8px !important;
  }

  .mat-mdc-select-value {
    overflow: hidden !important;
    text-overflow: unset !important;
  }
}
