/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Brandon Text';
  src: url("assets/fonts/BrandonTextWebRegular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: 'Brandon Text';
  src: url("assets/fonts/BrandonTextWebBlack.woff2");
  font-weight: bolder;
}
@font-face {
  font-family: 'Brandon Text';
  src: url("assets/fonts/BrandonTextWebBold.woff2");
  font-weight: bold;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.mat-button-base, h1, h2, h3 {
  text-transform: uppercase !important;
}
