/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'BrandonText-Black';
  src: url("assets/fonts/BrandonTextWebBlack.woff2");
}
@font-face {
  font-family: 'BrandonText-Bold';
  src: url("assets/fonts/BrandonTextWebBold.woff2");
}
@font-face {
  font-family: 'Brandon Text';
  src: url("assets/fonts/BrandonTextWebRegular.woff2");
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.mat-button-base, h1, h2, h3 {
  text-transform: uppercase !important;
}


.mat-bottom-sheet-container {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
